<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Validador de Datos Abiertos{% endblock %}</title>

    <!-- Framework oficial GOB.mx v3 -->
    <link href="https://framework-gb.cdn.gob.mx/gm/v3/assets/images/favicon.ico" rel="shortcut icon">
    <link href="https://framework-gb.cdn.gob.mx/gm/v3/assets/styles/main.css" rel="stylesheet">
  </head>

  <body>
    <!-- Contenido principal -->
    <main class="page">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </main>

    <!-- Scripts oficiales -->
    <script src="https://framework-gb.cdn.gob.mx/gm/v3/assets/js/gobmx.js"></script>
  </body>
</html>
